# Question 1

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

cen = pd.read_csv('census.csv')

#to get all of the marital statuses
#cen[['marital_status','age']].groupby('marital_status').mean()

divorced = cen[cen['marital_status'] == 'Divorced']
married_sa = cen[cen['marital_status'] == 'Married/spouse absent']
married_sp = cen[cen['marital_status'] == 'Married/spouse present']
single = cen[cen['marital_status'] == 'Never married/single']
separated = cen[cen['marital_status'] == 'Separated']
widowed = cen[cen['marital_status'] == 'Widowed']

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
9,2000,Florida,14600.0,58,Female,White,Widowed,14600.0
21,2000,Florida,31600.0,80,Female,White,Widowed,31600.0
27,2000,Florida,0.0,67,Male,Black,Widowed,8400.0
39,2000,New York,8800.0,82,Female,White,Widowed,8800.0
42,2000,New York,15570.0,83,Male,White,Widowed,15570.0
74,2000,New York,55000.0,81,Male,White,Widowed,55000.0
76,2000,New York,37000.0,72,Female,White,Widowed,17300.0
106,2000,California,82300.0,58,Female,Chinese,Widowed,0.0
138,2000,California,41500.0,79,Female,White,Widowed,41500.0
210,2000,Ohio,19604.0,50,Female,Black,Widowed,19604.0
216,2000,Ohio,10400.0,75,Female,White,Widowed,10400.0
266,2000,Texas,0.0,52,Female,White,Widowed,0.0
267,2000,Texas,11300.0,70,Male,White,Widowed,5100.0
287,2000,Kentucky,3800.0,60,Male,Black,Widowed,3800.0
290,2000,Massachusetts,34300.0,82,Female,White,Widowed,22700.0
320,2000,Arizona,30000.0,60,Female,White,Widowed,30000.0
321,2000,Arizona,0.0,67,Female,White,Widowed,0.0
326,2000,Delaware,46200.0,85,Female,White,Widowed,9100.0
342,2000,Georgia,21200.0,59,Female,Black,Widowed,21200.0
366,2000,Minnesota,17000.0,69,Female,White,Widowed,17000.0
367,2000,Minnesota,0.0,81,Female,White,Widowed,0.0
403,2000,Washington,21500.0,64,Male,Other Asian or Pacific Islander,Widowed,15000.0
408,2000,West Virginia,0.0,87,Male,White,Widowed,0.0
424,2000,Indiana,8000.0,85,Male,Black,Widowed,8000.0
430,2000,Indiana,11580.0,76,Female,White,Widowed,11580.0
439,2000,Indiana,25000.0,70,Female,White,Widowed,15800.0
441,2000,Louisiana,13300.0,71,Male,Black,Widowed,13300.0
451,2000,Louisiana,8100.0,93,Female,White,Widowed,8100.0
461,2000,Missouri,9400.0,81,Female,White,Widowed,9400.0
482,2000,Pennsylvania,NaN,68,Male,White,Widowed,9100.0
497,2000,Virginia,15000.0,60,Male,Black,Widowed,15000.0