In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
edu = pd.read_csv('educ_figdp_1_Data.csv',
    na_values = ':',
    usecols = ['TIME', 'GEO', 'Value'])

edu

     TIME                            GEO  Value
0    2000  European Union (28 countries)    NaN
1    2001  European Union (28 countries)    NaN
2    2002  European Union (28 countries)   5.00
3    2003  European Union (28 countries)   5.03
4    2004  European Union (28 countries)   4.95
5    2005  European Union (28 countries)   4.92
6    2006  European Union (28 countries)   4.91
7    2007  European Union (28 countries)   4.92
8    2008  European Union (28 countries)   5.04
9    2009  European Union (28 countries)   5.38
10   2010  European Union (28 countries)   5.41
11   2011  European Union (28 countries)   5.25
12   2000  European Union (27 countries)   4.91
13   2001  European Union (27 countries)   4.99
14   2002  European Union (27 countries)   5.00
15   2003  European Union (27 countries)   5.04
16   2004  European Union (27 countries)   4.95
17   2005  European Union (27 countries)   4.92
18   2006  European Union (27 countries)   4.91
19   2007  European Union (27 countries)   4.93
20   2008  European Union (27 countries)   5.04
21   2009  European Union (27 countries)   5.38
22   2010  European Union (27 countries)   5.41
23   2011  European Union (27 countries)   5.25
24   2000  European Union (25 countries)   4.94
25   2001  European Union (25 countries)   5.02
26   2002  European Union (25 countries)   5.03
27   2003  European Union (25 countries)   5.06
28   2004  European Union (25 countries)   4.98
29   2005  European Union (25 countries)   4.95
..    ...                            ...    ...
354  2006                       Slovenia   5.72
355  2007                       Slovenia   5.15
356  2008                       Slovenia   5.20
357  2009                       Slovenia   5.69
358  2010                       Slovenia   5.68
359  2011                       Slovenia   5.68
360  2000                       Slovakia   3.92
361  2001                       Slovakia   3.99
362  2002                       Slovakia   4.31
363  2003                       Slovakia   4.30
364  2004                       Slovakia   4.19
365  2005                       Slovakia   3.85
366  2006                       Slovakia   3.80
367  2007                       Slovakia   3.62
368  2008                       Slovakia   3.61
369  2009                       Slovakia   4.09
370  2010                       Slovakia   4.22
371  2011                       Slovakia   4.06
372  2000                        Finland   5.89
373  2001                        Finland   6.06
374  2002                        Finland   6.22
375  2003                        Finland   6.43
376  2004                        Finland   6.42
377  2005                        Finland   6.30
378  2006                        Finland   6.18
379  2007                        Finland   5.90
380  2008                        Finland   6.10
381  2009                        Finland   6.81
382  2010                        Finland   6.85
383  2011                        Finland   6.76

[384 rows x 3 columns]