In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# a dictionary

data = {
    'greeting' : ['hello', 'aloha', 'bonjour'],
    'numbers' : [1,2,3],
    'stuff' : ['nothing', 'something', 'everything']
}

intro = pd.DataFrame(
    data ,
    columns = [
        'greeting' , 'numbers' , 'stuff'
    ]
)

intro

  greeting  numbers       stuff
0    hello        1     nothing
1    aloha        2   something
2  bonjour        3  everything