# Question 1

A. edu[4:15] prints out all columns of edu, but only rows 4 through 14.

edu['Value'] prints out all of the rows of the column 'Value'. 

edu[4:15]['Value'] prints out rows 4 through 14 of the column 'Value'. 

edu[4:15][['TIME','Value']] # lists of multiple columns need []. Prints out rows 4 through 14 of the columns 'TIME' and 'Value'.

B. The hashtag in the last command creates a comment in the python syntax.

# Question 2

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

edu = pd.read_csv('educ_figdp_1_Data.csv',
    na_values = ':',
    usecols = ['TIME', 'GEO', 'Value'])

geo_col = edu[['GEO']]
geo_col

                               GEO
0    European Union (28 countries)
1    European Union (28 countries)
2    European Union (28 countries)
3    European Union (28 countries)
4    European Union (28 countries)
5    European Union (28 countries)
6    European Union (28 countries)
7    European Union (28 countries)
8    European Union (28 countries)
9    European Union (28 countries)
10   European Union (28 countries)
11   European Union (28 countries)
12   European Union (27 countries)
13   European Union (27 countries)
14   European Union (27 countries)
15   European Union (27 countries)
16   European Union (27 countries)
17   European Union (27 countries)
18   European Union (27 countries)
19   European Union (27 countries)
20   European Union (27 countries)
21   European Union (27 countries)
22   European Union (27 countries)
23   European Union (27 countries)
24   European Union (25 countries)
25   European Union (25 countries)
26   European Union (25 countries)
27   European Union (25 countries)
28   European Union (25 countries)
29   European Union (25 countries)
..                             ...
354                       Slovenia
355                       Slovenia
356                       Slovenia
357                       Slovenia
358                       Slovenia
359                       Slovenia
360                       Slovakia
361                       Slovakia
362                       Slovakia
363                       Slovakia
364                       Slovakia
365                       Slovakia
366                       Slovakia
367                       Slovakia
368                       Slovakia
369                       Slovakia
370                       Slovakia
371                       Slovakia
372                        Finland
373                        Finland
374                        Finland
375                        Finland
376                        Finland
377                        Finland
378                        Finland
379                        Finland
380                        Finland
381                        Finland
382                        Finland
383                        Finland

[384 rows x 1 columns]

# Question 3

3 new rows were added when we created edu_new_rows in class

In [3]:
new_rows_dict = {
    'TIME': [2000,2000,2000],
    'GEO': ['USA', 'Canada', 'Uganda'],
    'Value': [5, 4.18, 5.15]
}

new_rows_df = pd.DataFrame(new_rows_dict)

edu_new_rows = edu.append(new_rows_df, ignore_index = True, sort=False)

final_row_dict = {
    'TIME' : [2021],
    'GEO' : ['Mars'],
    'Value' : [1000]
}

final_row_df = pd.DataFrame(final_row_dict)

edu_final_row = edu_new_rows.append(final_row_df, ignore_index = True, sort = False)
edu_final_row

     TIME                            GEO    Value
0    2000  European Union (28 countries)      NaN
1    2001  European Union (28 countries)      NaN
2    2002  European Union (28 countries)     5.00
3    2003  European Union (28 countries)     5.03
4    2004  European Union (28 countries)     4.95
5    2005  European Union (28 countries)     4.92
6    2006  European Union (28 countries)     4.91
7    2007  European Union (28 countries)     4.92
8    2008  European Union (28 countries)     5.04
9    2009  European Union (28 countries)     5.38
10   2010  European Union (28 countries)     5.41
11   2011  European Union (28 countries)     5.25
12   2000  European Union (27 countries)     4.91
13   2001  European Union (27 countries)     4.99
14   2002  European Union (27 countries)     5.00
15   2003  European Union (27 countries)     5.04
16   2004  European Union (27 countries)     4.95
17   2005  European Union (27 countries)     4.92
18   2006  European Union (27 countries)     4.91
19   2007  European Union (27 countries)     4.93
20   2008  European Union (27 countries)     5.04
21   2009  European Union (27 countries)     5.38
22   2010  European Union (27 countries)     5.41
23   2011  European Union (27 countries)     5.25
24   2000  European Union (25 countries)     4.94
25   2001  European Union (25 countries)     5.02
26   2002  European Union (25 countries)     5.03
27   2003  European Union (25 countries)     5.06
28   2004  European Union (25 countries)     4.98
29   2005  European Union (25 countries)     4.95
..    ...                            ...      ...
358  2010                       Slovenia     5.68
359  2011                       Slovenia     5.68
360  2000                       Slovakia     3.92
361  2001                       Slovakia     3.99
362  2002                       Slovakia     4.31
363  2003                       Slovakia     4.30
364  2004                       Slovakia     4.19
365  2005                       Slovakia     3.85
366  2006                       Slovakia     3.80
367  2007                       Slovakia     3.62
368  2008                       Slovakia     3.61
369  2009                       Slovakia     4.09
370  2010                       Slovakia     4.22
371  2011                       Slovakia     4.06
372  2000                        Finland     5.89
373  2001                        Finland     6.06
374  2002                        Finland     6.22
375  2003                        Finland     6.43
376  2004                        Finland     6.42
377  2005                        Finland     6.30
378  2006                        Finland     6.18
379  2007                        Finland     5.90
380  2008                        Finland     6.10
381  2009                        Finland     6.81
382  2010                        Finland     6.85
383  2011                        Finland     6.76
384  2000                            USA     5.00
385  2000                         Canada     4.18
386  2000                         Uganda     5.15
387  2021                           Mars  1000.00

[388 rows x 3 columns]

# Question 4

In [4]:
edu[(edu['Value'] > 5) & (edu['Value'] < 7)]

     TIME                            GEO  Value
3    2003  European Union (28 countries)   5.03
8    2008  European Union (28 countries)   5.04
9    2009  European Union (28 countries)   5.38
10   2010  European Union (28 countries)   5.41
11   2011  European Union (28 countries)   5.25
15   2003  European Union (27 countries)   5.04
20   2008  European Union (27 countries)   5.04
21   2009  European Union (27 countries)   5.38
22   2010  European Union (27 countries)   5.41
23   2011  European Union (27 countries)   5.25
25   2001  European Union (25 countries)   5.02
26   2002  European Union (25 countries)   5.03
27   2003  European Union (25 countries)   5.06
32   2008  European Union (25 countries)   5.06
33   2009  European Union (25 countries)   5.41
34   2010  European Union (25 countries)   5.46
35   2011  European Union (25 countries)   5.31
45   2009       Euro area (18 countries)   5.31
46   2010       Euro area (18 countries)   5.28
47   2011       Euro area (18 countries)   5.15
57   2009       Euro area (17 countries)   5.31
58   2010       Euro area (17 countries)   5.28
59   2011       Euro area (17 countries)   5.15
62   2002       Euro area (15 countries)   5.01
63   2003       Euro area (15 countries)   5.04
69   2009       Euro area (15 countries)   5.32
70   2010       Euro area (15 countries)   5.29
71   2011       Euro area (15 countries)   5.16
75   2003       Euro area (13 countries)   5.04
81   2009       Euro area (13 countries)   5.32
..    ...                            ...    ...
328  2004                       Portugal   5.10
329  2005                       Portugal   5.21
330  2006                       Portugal   5.07
331  2007                       Portugal   5.10
333  2009                       Portugal   5.79
334  2010                       Portugal   5.62
335  2011                       Portugal   5.27
349  2001                       Slovenia   5.86
350  2002                       Slovenia   5.76
351  2003                       Slovenia   5.80
352  2004                       Slovenia   5.74
353  2005                       Slovenia   5.73
354  2006                       Slovenia   5.72
355  2007                       Slovenia   5.15
356  2008                       Slovenia   5.20
357  2009                       Slovenia   5.69
358  2010                       Slovenia   5.68
359  2011                       Slovenia   5.68
372  2000                        Finland   5.89
373  2001                        Finland   6.06
374  2002                        Finland   6.22
375  2003                        Finland   6.43
376  2004                        Finland   6.42
377  2005                        Finland   6.30
378  2006                        Finland   6.18
379  2007                        Finland   5.90
380  2008                        Finland   6.10
381  2009                        Finland   6.81
382  2010                        Finland   6.85
383  2011                        Finland   6.76

[174 rows x 3 columns]

In [6]:
edu[edu['TIME'] == 2003][['GEO']]

                                                  GEO
3                       European Union (28 countries)
15                      European Union (27 countries)
27                      European Union (25 countries)
39                           Euro area (18 countries)
51                           Euro area (17 countries)
63                           Euro area (15 countries)
75                           Euro area (13 countries)
87                                            Belgium
99                                           Bulgaria
111                                    Czech Republic
123                                           Denmark
135  Germany (until 1990 former territory of the FRG)
147                                           Estonia
159                                           Ireland
171                                            Greece
183                                             Spain
195                                            France
207                                             Italy
219                                            Cyprus
231                                            Latvia
243                                         Lithuania
255                                        Luxembourg
267                                           Hungary
279                                             Malta
291                                       Netherlands
303                                           Austria
315                                            Poland
327                                          Portugal
339                                           Romania
351                                          Slovenia
363                                          Slovakia
375                                           Finland